/* =============
    SCSS Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Extra Large desktops
$screen-xl-min: 1200px;

// Extra Extra Large desktops
$screen-xxl-min: 1440px;


/* =============
    CSS Variables
============= */
:root {
  // colors vars
  --black: #000000;
  --white: #ffffff;
  --purple: #5B61A2;
  --gray: #AEB3B7;

  // grid sizes
  --grid-margin-mobile: 16px;

}

