/* =============
    Base
============= */
ul{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

a{
    text-decoration: none;
}

.content-spacing{
    margin-top: 32px;

    @include md{
        margin-top: 64px;
    }
}

// .header-footer-grid{
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". header-footer .";

//     >div{
//         grid-area: header-footer;
//     }
// }


.large-images{
    width: 100%;
}
