/* =============
    Base
============= */
ul{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

a{
    text-decoration: none;
}

.show-menu{
    display: block !important;
}

.content-spacing{
    margin-top: 32px;

    @include md{
        margin-top: 64px;
    }
}

.large-images{
    width: 100%;
}
