/* =============
    About
============= */

#about{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". about .";

    @include md{
        grid-template-columns: 12% auto 12%;
    }

    >div{
        grid-area: about;
    }
}