/* =============
    About
============= */

#about{
    display: grid;
    grid-template-columns: var(--grid-margin-mobile) auto var(--grid-margin-mobile);
    grid-template-areas: ". about .";

    @include md{
        grid-template-columns: 12% auto 12%;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: about;


        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
        }

        aside{
            margin-bottom: 24px;

            @include md {
                margin-bottom: 0;
            }

            #about-bg-img{
                    background-image: url("../img/about/about-left.jpg");
                    background-position: center bottom;
                    background-size: cover;
                    width: 100%;
                    padding-bottom: 100%;
                    border-radius: 100%;
            }
            
        }

        #about-info{
            @include md{
                display: flex;
                align-items: center;
                padding-left: 136px;
            }

            h1{
                margin-bottom: 16px;
    
                @include lg{
                    margin-bottom: 24px;
                }
            }
        }
    }
}