/* =============
    Heroes
============= */
#hero{
    img{
        line-height: 0;
        display: block;
    }
}



/* ------ Hero 2 -----*/
#hero-2{
    background-image: url("../img/heroes/hero-2.jpg");
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md{
        height: 60vh;
        background-position: left bottom;
    }

    @include xl{
        height: 70vh;
    }

    i{
        color: var(--white);
        font-size: rem-calc(60);

        @include lg{
            font-size: rem-calc(120);
        }
    }
}