/* =============
    Partners
============= */

#partners{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". partners .";

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: partners;
        

        ul{
            margin: 0;
            padding: 0;
            display: grid;
            gap: 24px;

            @include md{
                grid-template-columns: repeat(2, 1fr);
                // grid-template-columns: 50% 50%;
                // grid-template-columns: 50% auto;
            }

            @include xl {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "p1 p1 p1 p2 p2 p3"
                "p4 p5 p5 p5 p6 p6";
            }

            li{
                list-style: none;
                padding-top: 100px;
                padding-bottom: 100px;
                text-align: center;
                border: 1px solid var(--gray);
                border-radius: 4px;
            }

            #p1{
                @include xl{
                    grid-area: p1;
                }
            }

            #p2{
                @include xl{
                    grid-area: p2;
                }
            }

            #p3{
                @include xl{
                    grid-area: p3;
                }
            }
            #p4{
                @include xl{
                    grid-area: p4;
                }
            }

            #p5{
                @include xl{
                    grid-area: p5;
                }
            }

            #p6{
                @include xl{
                    grid-area: p6;
                }
            }
        }
    }
}