/* =============
    Requests
============= */

#requests{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". request .";

    @include md{
        grid-template-columns: 12% auto 12%;
    }

    @include xl{
        grid-template-columns: 20% auto 20%;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }


    >div{
        grid-area: request;
        background-color: purple;
    }
}