/* =============
    Requests
============= */

#requests{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". request .";

    @include md{
        grid-template-columns: 12% auto 12%;
    }

    @include xl{
        grid-template-columns: 20% auto 20%;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }


    >div{
        grid-area: request;

        h1{
            margin-bottom: 16px;

            @include lg{
                margin-bottom: 24px;
            }
        }

        form{
            margin-top: 32px;

            @include md{
                margin-top: 24px;
            }

            @include lg{
                margin-top: 32px;
            }


            button{
                // background-color: #5B61A2;
                background-color: var(--purple);
                color: white;
            }
        }
    }
}