/* =============
    Header
============= */
header{
    padding: 16px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
    "logo burger"
    "nav nav";
    position: fixed;
    width: 100%;
    background-color: white;
    box-sizing: border-box;

    @include md{
        grid-template-columns: 20% auto;
        grid-template-areas: 
        "logo nav";
    }

    @include xxl{
        // padding: 24px 0;
    }

    #logo{
        grid-area: logo;
    }
    #burger-container{
        grid-area: burger;
        text-align: right;

        @include md{
            display: none;
        }
        button{
            font-size: rem-calc(20);
            color: black;
            border: none;
            background-color: transparent;
        }
    }

    nav{
        grid-area: nav;
        background-color: white;
        color: black;
       
        ul{
            // display: flex;
            li{
                text-align: right;
                a{
                    display: block;
                    color: var(--gray);
                }
            }
        }
    }
}