/* =============
    Navigation
============= */

nav{
    ul{
        display: none;
        border: 1px solid red;

        @include lg{
            display: block;
        }

        li{
            a:link, a:visited{
                padding: 24px 36px;
                border: 1px solid var(--gray);
                color: var(--gray);
                border-radius: 6px;
                transition: 0.25s;
                font-family: 'Roboto', sans-serif;

                &:hover, &:active{
                    background-color: var(--gray);
                    color: var(--white);
                }
            }
        }
    }
}